# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
sdist/
*.egg-info/
.installed.cfg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# pyenv
.venv/
.python-version

# Environments
.envrc
.env

# IDEs and Code Editors
.vscode
.idea

# mypy
.mypy_cache/

# OS Stuff
.DS_Store
*.swp
*~
uv.lock
