name: Test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Python ${{ matrix.python-version }} django ${{ matrix.django-version }} postgres ${{ matrix.postgres-version }}
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        django-version: ["4.2", "5.2", "6.0"]
        postgres-version: ["16", "latest"]
        exclude:
          - python-version: "3.10"
            django-version: "6.0"
          - python-version: "3.11"
            django-version: "6.0"
          - python-version: "3.13"
            django-version: "4.2"
          - python-version: "3.14"
            django-version: "4.2"

    services:
      database:
        image: postgres:${{ matrix.postgres-version }}
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    env:
      DJANGO_DATABASE_HOST: localhost
      DJANGO_DATABASE_USER: postgres
      DJANGO_DATABASE_PASSWORD: postgres
      DJANGO_DATABASE_NAME: postgres

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Dependencies
        run: |
          python -m pip install pytest pytest-django pytest-cov 
          python -m pip install "psycopg[binary]"
          python -m pip install django==${{ matrix.django-version }}
          pip install -e "."

      - name: Run tests
        run: >-
          pytest -v -x
          --cov=django_ltree
          --junitxml=junit/test-results-${{ matrix.python-version }}-${{ matrix.django-version }}-${{ matrix.postgres-version }}.xml
          tests/

      - name: Upload pytest test results
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results-${{ matrix.python-version }}-${{ matrix.django-version }}-${{ matrix.postgres-version }}
          path: junit/test-results-${{ matrix.python-version }}-${{ matrix.django-version }}-${{ matrix.postgres-version }}.xml
        if: ${{ always() }}
