name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Python ${{ matrix.python-version }} django ${{ matrix.django-version }} postgres ${{ matrix.postgres-version }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
        django-version: ["5.2", "6.0"]
        postgres-version: ["16", "latest"]
        exclude:
          - python-version: "3.11"
            django-version: "6.0"

    services:
      database:
        image: postgres:${{ matrix.postgres-version }}
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    env:
      DJANGO_DATABASE_HOST: localhost
      DJANGO_DATABASE_USER: postgres
      DJANGO_DATABASE_PASSWORD: postgres
      DJANGO_DATABASE_NAME: postgres

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: install dependencies
        run: |
          uv sync --all-extras --dev --group=test

      - name: Install django matrix
        run: |
          uv pip install django==${{ matrix.django-version }}

      - name: Run tests
        run: >-
          uv run pytest -v -x
          --cov=django_ltree
          --junitxml=junit/test-results-${{ matrix.python-version }}-${{ matrix.django-version }}-${{ matrix.postgres-version }}.xml

      - name: Upload pytest test results
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results-${{ matrix.python-version }}-${{ matrix.django-version }}-${{ matrix.postgres-version }}
          path: junit/test-results-${{ matrix.python-version }}-${{ matrix.django-version }}-${{ matrix.postgres-version }}.xml
        if: ${{ always() }}
